<!DOCTYPE html>
<html>
    <title>LOG INSTITUTE</title>
    <P>PLease Log IN</P>
    <form>
        <div class="FORM" color="red">
        
            <div class="container"></div>
                <div class="hover"></div>
                <div class="container">LOG IN</div>
            <CENTER><input type="name"> NAME:
                <input type="id">id:
</CENTER>
<style>
    .name
    {
        color: yellow;
        text-decoration-line: underline;
        background-color: grey;
    }
</style>
                
            </div>
    </form>
</html>